<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>721117142210-qc668hakv79pi7stk5j24kunvskgkm86.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.721117142210-qc668hakv79pi7stk5j24kunvskgkm86</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>721117142210-fi3o6b89im03p162vkika53dipher6oc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAY5_3m-4FIcuD6OZUlMsjsB5apci3VAsk</string>
	<key>GCM_SENDER_ID</key>
	<string>721117142210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.garuda.doctors</string>
	<key>PROJECT_ID</key>
	<string>garuda-33960</string>
	<key>STORAGE_BUCKET</key>
	<string>garuda-33960.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721117142210:ios:1564f7a287df4bff81af5b</string>
</dict>
</plist>